<div class="container">
<h1>Question:</h1>

<form action="answer">
  <input type="text" name="question" placeholder="Ask the coach">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
</div>
